body{
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(217, 95, 2);
    font-family: 'segoe UI';
    

}

.logo {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 700;
}

.logo:hover{
    transition: all 0.3s ease;
    color: aqua;
    transform: scale(1.03);
}

/* The Links to the other pages */



.harmburger{
    display: none;
    size: 2rem;
    cursor: pointer;
}



@media (max-width: 768px) {
    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 10px;
        border-radius: 4px;
    }
    .links.show {
        display: flex;
    }

    .harmburger {
        display: block;
    }

    .harmburger {
     font-weight: 700;
     color: rgb(26, 230, 19);
    }

    .harmburger:hover {
      transition: all 0.3s ease;
      color: rgb(111, 255, 0);
      transform: scale(1.03);
    }

}